<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.HiderMapper">
	<select id="getAll" resultType="Hider">
		select * from hider
	</select>

	<delete id="getDel" parameterType="int">
		delete from hider where
		id=#{id}
	</delete>

	<insert id="getUpd" parameterType="Hider">
		update Hider set name=#{name}
		where id=#{id}
	</insert>

	<select id="getList" resultType="Hider">
		select * from Hider where
		id=#{id}
	</select>
</mapper>